# Build Files
/build/
/Tests/Assets/*
/src/main.cpp
Textures/*
*.o
*.obj
*.so
*.dll
*.exe

# IDE files
.vscode/
*.code-workplaces
.cache/
.cache
.vs/

#OS/system files
.DS_Store
Thumbs.db
build.sh
buildProj.bat

#Screenshot files
Snapshots/
